@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
    width:100%;
    height: 100vh;
}
body{
    scrollbar-width: thin;
    scrollbar-color: whitesmoke;
    background-color: rgb(254 226 226 );
}